.label {
    display: block;
    font-size: 15px;
    line-height: 24px;
}

.input {
    padding: 8px 0 8px 12px;
    border: 1px solid #E7EAEE;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    font-family: 'Helvetica', sans-serif;
    font-size: 15px;
    line-height: 24px;
    height: 40px;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.inputError {
    background: rgba(236, 57, 61, 0.2);
    padding: 8px 0 8px 12px;
    border: 1px solid #E7EAEE;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    font-family: 'Helvetica', sans-serif;
    font-size: 15px;
    line-height: 24px;
    height: 40px;
}

.inputError::-webkit-input-placeholder {
    color: #EC393D;
}
.inputError::-moz-placeholder {
    color: #EC393D;
}
.inputError:-moz-placeholder {
    color: #EC393D;
}
.inputError:-ms-input-placeholder {
    color: #EC393D;
}

.input:focus, .inputError:focus {
    outline: 3px solid rgba(37, 143, 251, 0.3);
}

input:active, .inputError:active {
    border: 1px solid #258FFB;
}

.input[type='date']::-webkit-inner-spin-button { display: none; }