.button {
    padding: 8px 16px;
    background: #258FFB;
    border-radius: 4px;
    font-family: 'Helvetica', sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    transition: all 0.3s;
    border: 3px solid transparent;
}

.button:hover {
    background: #0A81FA;
}

.button:active {
    background: #0474E6;
}

.button:disabled {
    background: #258FFB;
    color: #FFFFFF;
    opacity: 0.3;
    cursor: not-allowed;
}

.button:focus {
    outline: 3px solid rgba(37, 143, 251, 0.3);
}

.transparent {
    padding: 8px 16px;
    background: transparent;
    border-radius: 4px;
    font-family: 'Helvetica', sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #333333;
    cursor: pointer;
    border: none;
    outline: none;
    box-sizing: border-box;
    border: 3px solid transparent;
    transition: all 0.3s;
}

.transparent:hover {
    background: #F4F5F7;
}

.transparent:active {
    background: #E7EAEE;
}

.transparent:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.transparent:focus {
    border: 3px solid rgba(37, 143, 251, 0.3);
}
