.h1 {
  font-family: 'Helvetica', sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  margin: 0;
}

.h3 {
  font-family: 'Helvetica', sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  color: #333333;
}

.p {
  font-family: 'Helvetica', sans-serif;
  font-size: 15px;
  line-height: 24px;
  display: block;
  text-decoration: none;
  color: #333333;
}

/*BUTTON*/

.button {
  padding: 8px;
  background: #258FFB;
  border-radius: 4px;
  font-family: 'Helvetica', sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #FFFFFF;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
  border: none;
}

.button:hover {
  background: #0A81FA;
}

.button:active {
  background: #0474E6;
}

.button:disabled {
  background: #258FFB;
  opacity: 0.3;
  cursor: not-allowed;
}

.button:focus {
  outline: 3px solid rgba(37, 143, 251, 0.3);
}

.transparent {
  padding: 8px 16px;
  background: transparent;
  border-radius: 4px;
  font-family: 'Helvetica', sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #333333;
  cursor: pointer;
  border: none;
  outline: none;
  box-sizing: border-box;
  transition: all 0.3s;
}

.transparent:hover {
  background: #F4F5F7;
}

.transparent:active {
  background: #E7EAEE;
}

.transparent:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.transparent:focus {
  outline: 3px solid rgba(37, 143, 251, 0.3);
}

/*BUTTON*/

/*INPUT*/

.input {
  font-family: 'Helvetica', sans-serif;
  font-size: 15px;
  line-height: 24px;

  background: #FFFFFF;
  border: 1px solid #E7EAEE;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 7px 0 7px 12px;
  width: 100%;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input:focus {
  outline: 3px solid rgba(37, 143, 251, 0.3);
}

.input:active {
  outline: 1px solid #258FFB;
}

.input:disabled {
  background: #E7EAEE;
  outline: 1px solid #E7EAEE;
}

.error {
  background: rgba(236, 57, 61, 0.2);
  outline: none;
  color: #EC393D;
  border: none;
}

.error::-webkit-input-placeholder {
  color: #EC393D;
}
.error::-moz-placeholder {
  color: #EC393D;
}
.error:-moz-placeholder {
  color: #EC393D;
}
.error:-ms-input-placeholder {
  color: #EC393D;
}



/*INPUT*/