* {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    color: #333333;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

b {
    display: block;
    margin-bottom: 5px;
}

.wrapper {
    display: grid;
    grid-template-columns: minmax(252px, 300px) auto;
    height: 100vh;
    overflow: hidden;
}

.contentGrid {
    height: 100vh;
    display: grid;
    grid-template-columns: 335px auto;
}

.menu {
    grid-column: 1/2;

    background-color: #F4F5F7;
    border-right: 1px solid #E7EAEE;

    transition: all 0.3s;
}

.content_menu {
    grid-column: 1/2;
    background-color: #FFFFFF;
    border-right: 1px solid #E7EAEE;

    overflow: hidden;
    position: relative;
}

.content_menu_item {
    grid-column: 2/3;
}

.item_details {
    overflow: hidden;
    height: 100vh;
}

.item_details-wrap {
    overflow-y: auto;
    height: 100vh;
    padding: 0 24px;
}

.scroll-wrapper {
    overflow-y: scroll;
    height: 100vh;
}

.content_menu-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #FFFFFF;
}


@media (max-width: 1280px) {
    .wrapper {
        grid-template-columns: minmax(50px, 70px) auto;
    }

    .content_menu {
        position: relative;
    }

    .scroll-wrapper {
        overflow-y: auto;
        height: 100vh;
    }

}


@media (max-width: 768px) {

    body {
        position: relative;
        overflow-x: hidden;
    }

    .contentGrid {
        grid-template-columns: 100vw 100vw;
        transition: all 0.3s;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
    }

    .loaded {
        transform: translateX(-100vw);
    }

    .content_menu {
        width: 100vw;
    }

    .menu {
        position: fixed;
        z-index: 12;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100vw;
        transform: translateX(100vw);
    }

    .menu_open {
        transform: translateX(0);
    }

    .user {
        display: grid;
        grid-template-columns: 1fr 25px;

        padding-right: 16px;
    }

    .user_wrap {
        grid-column: 1/2;
    }

    .item_details-wrap {
        height: calc(100vh - 73px);
    }

    .burger_menu {
        display: block;
    }

    .item_details {
        position: fixed;
        width: 100vw;
        background: white;
        transform: translateX(100vw);
        transition: all 0.3s;
    }

    .loaded {
        transform: none;
        position: static;
        overflow: unset;
        height: auto;
        z-index: 1;
    }


    .loaded .item_details-wrap {
        margin-top: 79px;
        height: auto;
        overflow-y: unset;
    }

    .scroll-wrapper {
        height: auto;
        overflow: auto;
    }

    .hidden_head {
        transform: translateY(-179px);
    }

    .content_menu {
        overflow: unset;
    }

    .contentGrid {
        height: auto;
    }

    .wrapper {
        height: auto;
    }

    .content_menu-wrap {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        transition: all 0.3s;
    }

    .disabled_scroll {
        position: fixed;
        opacity: 0;
    }
}


::-webkit-scrollbar {
    width: 6px;
    background: transparent;
    margin-right: 5px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track-piece {
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    height: auto;
    background-color: rgba(51, 51, 51, 0.2);
    border-radius: 4px;
}

summary::-webkit-details-marker {
    display: none
}

