.listHead {
    display: grid;
    grid-template-columns: 1fr 40px 29px;
    padding: 24px 25px;
    border-bottom: 1px solid #E7EAEE;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #FFFFFF;
    transition: all 0.3s;
}

.listHead button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 29px;
    height: 30px;

    align-self: center;
    justify-self: start;
}

.listHead p {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;

    align-self: center;
}

.positionItems {
    margin-top: 79px;
}

.positionDetailsTitle {
    display: grid;
    grid-template-columns: 1fr 40px;
    grid-column-gap: 10px;
    padding: 19px 0;

    position: relative;
}

.editTitle {
    background: #F4F5F7;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
}

.delete {
    display: none;
    position: absolute;
    right: 25px;
    bottom: -20px;

    width: 100px;
    height: 33px;
    background: #258FFB;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.delete:hover {
    background: #0A81FA;
}

.descriptionText {
    position: relative;
    transition: all 0.2s;
}

.positionContent {
    display: grid;
    grid-template-columns: 164px 116px;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 8px;
    grid-row-gap: 15px;

    line-height: 24px;
    margin-top: 10px;
}

.positionContent label {
    display: block;
}


.category {
    grid-column: 1/3;
    grid-row: 1;
}

.price {
    grid-column: 1/2;
    grid-row: 2;
}

.currency {
    grid-column: 2;
    grid-row: 2;
}

.priceFrom {
    grid-column: 1/3;
    grid-row: 3;
}

.edit {
    border: 1px solid #258FFB;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 7px;
}

.controlElements {
    display: none;
    margin: 10px 0 0 0;

    grid-template-columns: 108px 50px;
}

.descriptionText.edit + .controlElements {
    display: grid;
}

.save {
    grid-column: 1;
    align-self: center;
}

.closeEdit {
    grid-column: 2;
    align-self: center;
}

.buttonCreate {
    width: 92px;
}

.burgerMenu {
    grid-column: 4;
    display: none;
}

.selectsPopup {
    display: grid;
    grid-template-columns: 164px 116px;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 8px;
    grid-row-gap: 15px;
}

.popupCategory {
    grid-column: 1/3;
}

@media screen and (max-width: 768px) {
    .positionContent, .selectsPopup {
        grid-template-columns: 1fr 116px;
    }
    .listHead {
        position: fixed;
        grid-template-columns: 1fr 34px 34px 29px;
    }
    .burgerMenu {
        display: block;
    }

}

